In [55]:
import pandas as pd
import numpy as np

### Function to fill in random blanks

In [88]:
# If there is a null value, then take in the previous value
# After data starts, then if it hits a null value, it will replace the null value with the previous value
def check_for_null(zipcode:list) -> list:
    new_list= []
    counter = 0
    for x in range(len(zipcode)):
        if not counter:
            new_list.append(np.nan)
            if zipcode[x]:
                counter =1 
        else: 
            if not zipcode[x] and not zipcode[x-1]:
                new_list.append(zipcode[x-2])
            else: 
                new_list.append(zipcode[x]) if zipcode[x] else new_list.append(zipcode[x-1])

    return new_list

In [60]:
#Check to ensure function works as designed 
zip = [0,0,0,6,8,4,8,0,3,5,4]
check_for_null(zip)

[nan, nan, nan, nan, 8, 4, 8, 8, 3, 5, 4]

### Function to calculate percentage change

In [36]:
# Put 0 as a placeholder for the first date. 
# Calculate the percentage change in the rate since the previous date 
def percent_change(zipcode:list) -> list:
    new_list =[0,]
    for x in range(1, len(zipcode)): 
        new_list.append(round((100*(float(zipcode[x])-float(zipcode[x-1]))/float(zipcode[x-1])), 2))
    return new_list

# Zestimates

In [37]:
df_zestimates = pd.read_csv("../Resources/zestimates_over_time.csv")
df_zestimates

,Date,78739,78748,78749,78745,78744,78735,78704,78741,78733,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,2000-01-31,359253.222565,182344.228005,276934.761053,155455.254715,100862.398093,365370.499292,2.290060e+05,130299.772261,4.141894e+05,...,301706.782565,NaN,127823.541059,101959.831070,129239.169483,149835.558397,NaN,191160.638874,193208.753935,191720.010212
1,2000-02-29,360119.934617,182815.639973,276434.028903,155315.624837,101266.178483,365580.323551,2.324339e+05,130944.859160,4.140504e+05,...,303013.140148,NaN,131071.862342,101930.259145,129560.510260,150251.679914,NaN,190781.832694,193874.348042,192032.987263
2,2000-03-31,360593.264503,183614.148308,275905.980030,156285.763549,101707.879551,365550.820886,2.367097e+05,131355.965062,4.146245e+05,...,304657.699682,NaN,134235.784319,102030.845136,129756.381270,150790.034306,NaN,190864.865427,194936.985474,192307.718717
3,2000-04-30,361817.135898,184999.195627,275031.050269,157217.270655,102387.826969,367107.654423,2.427809e+05,131995.996340,4.161017e+05,...,307015.419742,NaN,138779.698502,101976.340134,130348.392496,151944.869896,NaN,191472.686805,196222.834387,192862.720209
4,2000-05-31,361456.328366,186386.493838,274232.607532,157832.870443,102994.186874,368870.325435,2.494902e+05,132280.746897,4.165498e+05,...,308716.119454,254482.140084,142007.762991,101964.928201,130925.990256,152964.403505,NaN,192216.195839,196897.367085,193356.032235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2022-09-30,836555.982540,487680.113358,610600.378992,513299.133941,401943.936546,932173.049431,1.139625e+06,495366.454301,1.235231e+06,...,773927.991809,729258.609144,519190.048607,401446.072785,409962.048778,468769.813339,649574.667808,509619.926253,527701.966941,469626.955552
273,2022-10-31,829830.643140,482952.309897,606458.876173,507688.999212,396840.318299,920432.696380,1.123437e+06,488213.042936,1.213081e+06,...,767095.991127,719647.911021,510627.460404,395072.990448,406630.601486,464051.786209,643613.619510,503479.358135,523465.164219,465191.067507
274,2022-11-30,824913.495518,477851.691981,602729.209625,502164.760440,391299.912046,911264.009048,1.111299e+06,481700.196329,1.197487e+06,...,761234.982294,711624.883697,503643.814324,389216.598996,402709.339690,459323.963065,638546.891197,497234.288361,519309.167365,460809.406714
275,2022-12-31,819702.055836,471812.389573,597662.803738,496115.350762,384807.783077,901804.710897,1.101714e+06,474132.735320,1.185389e+06,...,754469.686087,703097.066710,496582.712484,382338.329133,397515.333542,453451.117066,633129.438656,490249.416895,514145.363703,455637.627329
276,2023-01-31,814084.604018,465751.982129,592556.529198,491067.282485,378393.194747,889650.660585,1.092982e+06,466639.297270,1.174822e+06,...,748324.750813,696081.303611,490756.956984,376992.982481,392535.915593,448119.894603,629572.033879,484772.913101,509448.095931,450704.140695

In [38]:
# Rename the Date column
df_zestimates.rename(columns ={"Unnamed: 0": "Date"}, inplace= True)

# Grab the date column and store it
dates = df_zestimates["Date"]

In [39]:
# Get a list of the columns for the zestimates
columns_zest = df_zestimates.columns

In [40]:
zestimate_changes = {
    x: percent_change(df_zestimates[x]) for x in columns_zest[1:]
}

In [41]:
df_zestimate_changes = pd.DataFrame(zestimate_changes)
df_zestimate_changes.set_index(dates, inplace = True)

In [42]:
df_zestimate_changes.reset_index(inplace=True)

In [43]:
df_zestimate_changes

,Date,78739,78748,78749,78745,78744,78735,78704,78741,78733,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,2000-01-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2000-02-29,0.24,0.26,-0.18,-0.09,0.40,0.06,1.50,0.50,-0.03,...,0.43,NaN,2.54,-0.03,0.25,0.28,NaN,-0.20,0.34,0.16
2,2000-03-31,0.13,0.44,-0.19,0.62,0.44,-0.01,1.84,0.31,0.14,...,0.54,NaN,2.41,0.10,0.15,0.36,NaN,0.04,0.55,0.14
3,2000-04-30,0.34,0.75,-0.32,0.60,0.67,0.43,2.56,0.49,0.36,...,0.77,NaN,3.39,-0.05,0.46,0.77,NaN,0.32,0.66,0.29
4,2000-05-31,-0.10,0.75,-0.29,0.39,0.59,0.48,2.76,0.22,0.11,...,0.55,NaN,2.33,-0.01,0.44,0.67,NaN,0.39,0.34,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2022-09-30,-1.08,-1.03,-0.93,-1.05,-1.14,-1.54,-1.30,-1.48,-1.92,...,-1.04,-1.35,-1.90,-1.52,-0.89,-1.00,-1.15,-1.35,-0.98,-1.11
273,2022-10-31,-0.80,-0.97,-0.68,-1.09,-1.27,-1.26,-1.42,-1.44,-1.79,...,-0.88,-1.32,-1.65,-1.59,-0.81,-1.01,-0.92,-1.20,-0.80,-0.94
274,2022-11-30,-0.59,-1.06,-0.61,-1.09,-1.40,-1.00,-1.08,-1.33,-1.29,...,-0.76,-1.11,-1.37,-1.48,-0.96,-1.02,-0.79,-1.24,-0.79,-0.94
275,2022-12-31,-0.63,-1.26,-0.84,-1.20,-1.66,-1.04,-0.86,-1.57,-1.01,...,-0.89,-1.20,-1.40,-1.77,-1.29,-1.28,-0.85,-1.40,-0.99,-1.12
276,2023-01-31,-0.69,-1.28,-0.85,-1.02,-1.67,-1.35,-0.79,-1.58,-0.89,...,-0.81,-1.00,-1.17,-1.40,-1.25,-1.18,-0.56,-1.12,-0.91,-1.08

In [44]:
df_zestimate_changes.to_csv("../Resources/zestimate_changes_over_time.csv", index=False)

# Rentals

In [45]:
rentals = pd.read_csv("../Resources/rentals_over_time.csv")
rentals

,Date,78739,78748,78749,78745,78744,78735,78704,78741,78733,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,2015-03-31,NaN,1128.231561,NaN,1065.842515,NaN,NaN,1488.738257,NaN,NaN,...,1050.143536,NaN,NaN,NaN,NaN,NaN,1298.037051,1084.332454,NaN,NaN
1,2015-04-30,NaN,1136.914112,NaN,1097.610540,NaN,NaN,1480.981293,NaN,NaN,...,1038.103066,NaN,NaN,NaN,NaN,NaN,1300.114579,1080.756606,NaN,NaN
2,2015-05-31,NaN,1146.573022,NaN,1119.407051,NaN,NaN,1488.485541,NaN,NaN,...,1048.472355,NaN,NaN,NaN,NaN,NaN,1316.105448,1091.164773,NaN,NaN
3,2015-06-30,NaN,1149.119332,NaN,1131.108759,NaN,NaN,1491.039788,NaN,NaN,...,1061.981578,NaN,NaN,NaN,NaN,NaN,1329.469972,1109.328100,NaN,NaN
4,2015-07-31,NaN,1149.187263,NaN,1133.466659,NaN,NaN,1510.267406,NaN,NaN,...,1088.736494,NaN,NaN,NaN,NaN,NaN,1316.411659,1121.423555,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2022-09-30,3626.360538,1745.039943,1892.973569,1766.425047,1849.211905,1934.683875,2328.180648,1644.408613,NaN,...,1650.095162,2263.585202,1865.696287,1925.971713,1566.428494,1835.032160,1892.830633,1629.207661,1792.867036,1836.622493
91,2022-10-31,3557.370333,1738.416841,1858.659751,1750.368963,1847.874432,1918.723173,2293.136404,1620.354838,NaN,...,1655.946793,2240.619771,1822.243546,1882.234880,1559.793156,1801.138037,1874.655173,1601.088812,1771.693488,1864.844849
92,2022-11-30,3532.674405,1711.797659,1827.096319,1728.428728,1808.525613,1899.508021,2258.590038,1603.744370,3103.00671,...,1657.787601,2168.058210,1796.787545,1830.304225,1545.274797,1767.245330,1838.525785,1589.472035,1755.229140,1830.248684
93,2022-12-31,NaN,1688.588541,1824.332867,1714.235380,1804.422200,1867.874292,2214.095813,1587.395442,NaN,...,1657.660911,2155.718789,1795.603492,1807.519921,1519.325351,1736.352493,1823.927152,1589.409992,1727.688420,1808.962423
94,2023-01-31,3210.222222,1665.574074,1826.119048,1703.767779,1791.120635,1848.331790,2201.724947,1573.802443,2832.50000,...,1617.198413,2149.123810,1811.699875,1782.638095,1525.719934,1734.301571,1826.114297,1579.130159,1732.722395,1764.109848

In [89]:
df_rentals =rentals.fillna("")

In [53]:
# Grab the columns and dates and store them in separate variables
columns_r = (rentals.columns)[1:]
dates = rentals["Date"]
columns_r

Index(['78739', '78748', '78749', '78745', '78744', '78735', '78704', '78741',
       '78733', '78746', '78703', '78701', '78702', '78721', '78705', '78722',
       '78723', '78751', '78754', '78731', '78730', '78732', '78726', '78750',
       '78759', '78757', '78752', '78724', '78753', '78758', '78717', '78729',
       '78727', '78728'],
      dtype='object')

In [87]:
for x in df_rentals["78724"]:
    print(x)

1450.4142053771486
1461.1495520638323


1520.6496114520987
1505.1719782786454
1502.933928945549
1488.4640635935066
1539.539580532018
1619.119786491311
1674.6708368542647
1705.232345976669
1701.9041159198282
1688.1777020515713
1685.897902158122
1705.2136655705135
1728.476569932279
1793.932934347729
1884.1146657326003
1965.1563701792245
1968.9768120854983
1925.971713493597
1882.2348795984008
1830.3042246119696
1807.5199205158133
1782.638095238095

In [ ]:
check_for_null(df_rentals["78724"])

In [ ]:
dict_rentals = {
    x: check_for_null(df_rentals[x]) for x in columns_r
}
dict_rentals

In [71]:
f = pd.DataFrame(dict_rentals)
f

,78739,78748,78749,78745,78744,78735,78704,78741,78733,78746,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1136.914112,NaN,1097.610540,NaN,NaN,1480.981293,NaN,NaN,NaN,...,1038.103066,NaN,NaN,NaN,NaN,NaN,1300.114579,1080.756606,NaN,NaN
2,NaN,1146.573022,NaN,1119.407051,NaN,NaN,1488.485541,NaN,NaN,NaN,...,1048.472355,NaN,NaN,NaN,NaN,NaN,1316.105448,1091.164773,NaN,NaN
3,NaN,1149.119332,NaN,1131.108759,NaN,NaN,1491.039788,NaN,NaN,NaN,...,1061.981578,NaN,NaN,NaN,NaN,NaN,1329.469972,1109.328100,NaN,NaN
4,NaN,1149.187263,NaN,1133.466659,NaN,NaN,1510.267406,NaN,NaN,NaN,...,1088.736494,NaN,NaN,NaN,NaN,NaN,1316.411659,1121.423555,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,3626.360538,1745.039943,1892.973569,1766.425047,1849.211905,1934.683875,2328.180648,1644.408613,NaN,2092.703865,...,1650.095162,2263.585202,1865.696287,1925.971713,1566.428494,1835.032160,1892.830633,1629.207661,1792.867036,1836.622493
91,3557.370333,1738.416841,1858.659751,1750.368963,1847.874432,1918.723173,2293.136404,1620.354838,NaN,2055.785724,...,1655.946793,2240.619771,1822.243546,1882.23488,1559.793156,1801.138037,1874.655173,1601.088812,1771.693488,1864.844849
92,3532.674405,1711.797659,1827.096319,1728.428728,1808.525613,1899.508021,2258.590038,1603.744370,NaN,2044.082918,...,1657.787601,2168.058210,1796.787545,1830.304225,1545.274797,1767.245330,1838.525785,1589.472035,1755.229140,1830.248684
93,3532.674405,1688.588541,1824.332867,1714.235380,1804.422200,1867.874292,2214.095813,1587.395442,3103.00671,2058.674237,...,1657.660911,2155.718789,1795.603492,1807.519921,1519.325351,1736.352493,1823.927152,1589.409992,1727.688420,1808.962423
94,3210.222222,1665.574074,1826.119048,1703.767779,1791.120635,1848.331790,2201.724947,1573.802443,2832.50000,2077.609127,...,1617.198413,2149.123810,1811.699875,1782.638095,1525.719934,1734.301571,1826.114297,1579.130159,1732.722395,1764.109848

In [91]:
# Make a dictionary of lists
# Pass each zipcode through the check for null functions 
# Then pass each zipcode throught the percentage change function
dict_r = {
    x: percent_change((check_for_null(df_rentals[x]))) for x in columns_r
}

In [93]:
df_rentals_change = pd.DataFrame(dict_r)
df_rentals_change

,78739,78748,78749,78745,78744,78735,78704,78741,78733,78746,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.85,NaN,1.99,NaN,NaN,0.51,NaN,NaN,NaN,...,1.00,NaN,NaN,NaN,NaN,NaN,1.23,0.96,NaN,NaN
3,NaN,0.22,NaN,1.05,NaN,NaN,0.17,NaN,NaN,NaN,...,1.29,NaN,NaN,NaN,NaN,NaN,1.02,1.66,NaN,NaN
4,NaN,0.01,NaN,0.21,NaN,NaN,1.29,NaN,NaN,NaN,...,2.52,NaN,NaN,NaN,NaN,NaN,-0.98,1.09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,0.03,-0.17,-1.19,-0.70,-0.75,-0.01,0.54,-0.68,NaN,-1.13,...,-0.04,0.76,-0.37,-2.18,0.17,-0.18,-0.63,-0.76,0.14,0.35
91,-1.90,-0.38,-1.81,-0.91,-0.07,-0.82,-1.51,-1.46,NaN,-1.76,...,0.35,-1.01,-2.33,-2.27,-0.42,-1.85,-0.96,-1.73,-1.18,1.54
92,-0.69,-1.53,-1.70,-1.25,-2.13,-1.00,-1.51,-1.03,NaN,-0.57,...,0.11,-3.24,-1.40,-2.76,-0.93,-1.88,-1.93,-0.73,-0.93,-1.86
93,0.00,-1.36,-0.15,-0.82,-0.23,-1.67,-1.97,-1.02,NaN,0.71,...,-0.01,-0.57,-0.07,-1.24,-1.68,-1.75,-0.79,-0.00,-1.57,-1.16
94,-9.13,-1.36,0.10,-0.61,-0.74,-1.05,-0.56,-0.86,-8.72,0.92,...,-2.44,-0.31,0.90,-1.38,0.42,-0.12,0.12,-0.65,0.29,-2.48

In [95]:
df_rentals_change.to_csv("Resources/rentals_percent_changes_over_time.csv")