In [90]:
import pandas as pd
import json

In [91]:
#reading json
geojson_df = pd.read_json('../geojson_data/tx_texas_zip_codes_geo.min.json')

In [92]:
geojson_df.head(3)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...
1  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...
2  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...

In [93]:
# load data using Python JSON module
with open('../geojson_data/tx_texas_zip_codes_geo.min.json','r') as f:
    data = json.loads(f.read())

In [94]:
# Normalizing data
geo_df = pd.json_normalize(data, record_path = 
                           ['features'], meta =
                           ['original_number_of_clusters','Scaler','family_min_samples_percentage'], meta_prefix='config_params_', record_prefix='dbscan_', errors = 'ignore')

In [95]:
geo_df.head(3)

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
0,Feature,48,75801,4875801,B5,G6350,S,555807428,6484251,+31.7345202,-095.5313809,N,Polygon,"[[[-95.680719, 31.727999], [-95.680855, 31.728...",NaN,NaN,NaN
1,Feature,48,75839,4875839,B5,G6350,S,381863557,3928555,+31.6066930,-095.5833403,N,Polygon,"[[[-95.662692, 31.645856], [-95.662425, 31.645...",NaN,NaN,NaN
2,Feature,48,78336,4878336,B5,G6350,S,126923194,31624523,+27.9269126,-097.1777757,N,Polygon,"[[[-97.196422, 27.911945], [-97.19618, 27.9122...",NaN,NaN,NaN

In [96]:
#Getting specific data points for the Austin area
geo_with_index = geo_df.set_index("dbscan_properties.ZCTA5CE10")
geo_with_index.head(3)

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
dbscan_properties.ZCTA5CE10,,,,,,,,,,,,,,,,
75801,Feature,48,4875801,B5,G6350,S,555807428,6484251,+31.7345202,-095.5313809,N,Polygon,"[[[-95.680719, 31.727999], [-95.680855, 31.728...",NaN,NaN,NaN
75839,Feature,48,4875839,B5,G6350,S,381863557,3928555,+31.6066930,-095.5833403,N,Polygon,"[[[-95.662692, 31.645856], [-95.662425, 31.645...",NaN,NaN,NaN
78336,Feature,48,4878336,B5,G6350,S,126923194,31624523,+27.9269126,-097.1777757,N,Polygon,"[[[-97.196422, 27.911945], [-97.19618, 27.9122...",NaN,NaN,NaN

In [97]:
zipcodes = ['78744',
            '78735',
            '78741',
            '78733',
            '78746',
            '78701',
            '78702',
            '78721',
            '78722',
            '78723',
            '78754',
            '78731',
            '78732',
            '78726',
            '78750',
            '78757',
            '78752',
            '78724',
            '78753',
            '78758',
            '78727',
            '78759',
            '78745',
            '78729',
            '78748',
            '78717',
            '78751',
            '78705',
            '78704',
            '78703']
austingeo_df = geo_df[geo_df['dbscan_properties.ZCTA5CE10'].isin(zipcodes)]

In [98]:
austingeo_df.head()

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
479,Feature,48,78759,4878759,B5,G6350,S,36045451,0,+30.4026543,-097.7610645,N,Polygon,"[[[-97.71599, 30.40858], [-97.715924, 30.40827...",NaN,NaN,NaN
480,Feature,48,78703,4878703,B5,G6350,S,14451214,722351,+30.2932682,-097.7660504,N,Polygon,"[[[-97.756611, 30.265703], [-97.756686, 30.265...",NaN,NaN,NaN
481,Feature,48,78735,4878735,B5,G6350,S,53222108,502,+30.2681381,-097.8691896,N,Polygon,"[[[-97.803516, 30.232121], [-97.803583, 30.231...",NaN,NaN,NaN
483,Feature,48,78721,4878721,B5,G6350,S,9616066,46866,+30.2699693,-097.6835568,N,Polygon,"[[[-97.694363, 30.267432], [-97.696086, 30.268...",NaN,NaN,NaN
731,Feature,48,78744,4878744,B5,G6350,S,55420088,12136,+30.1770138,-097.7258883,N,Polygon,"[[[-97.764208, 30.198526], [-97.763396, 30.199...",NaN,NaN,NaN

In [99]:
austin_df = austingeo_df.drop(["config_params_original_number_of_clusters", "config_params_Scaler", 'config_params_family_min_samples_percentage'], axis =1)

In [100]:
austin_df.head()

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates
479,Feature,48,78759,4878759,B5,G6350,S,36045451,0,+30.4026543,-097.7610645,N,Polygon,"[[[-97.71599, 30.40858], [-97.715924, 30.40827..."
480,Feature,48,78703,4878703,B5,G6350,S,14451214,722351,+30.2932682,-097.7660504,N,Polygon,"[[[-97.756611, 30.265703], [-97.756686, 30.265..."
481,Feature,48,78735,4878735,B5,G6350,S,53222108,502,+30.2681381,-097.8691896,N,Polygon,"[[[-97.803516, 30.232121], [-97.803583, 30.231..."
483,Feature,48,78721,4878721,B5,G6350,S,9616066,46866,+30.2699693,-097.6835568,N,Polygon,"[[[-97.694363, 30.267432], [-97.696086, 30.268..."
731,Feature,48,78744,4878744,B5,G6350,S,55420088,12136,+30.1770138,-097.7258883,N,Polygon,"[[[-97.764208, 30.198526], [-97.763396, 30.199..."

In [101]:
# Renaming Columns for geojson
austin_df.rename(columns= {'dbscan_type':'type',
                        'dbscan_properties.STATEFP10' : 'STATEFP10',
                       'dbscan_properties.ZCTA5CE10' : 'ZCTA5CE10',
                       'dbscan_properties.GEOID10' : 'GEOID10',
                       'dbscan_properties.CLASSFP10' : 'CLASSFP10',
                       'dbscan_properties.MTFCC10' : 'MTFCC10',
                       'dbscan_properties.FUNCSTAT10' : 'FUNCSTAT10',
                       'dbscan_properties.ALAND10' : 'ALAND10',
                       'dbscan_properties.AWATER10': 'AWATER10',
                       'dbscan_properties.INTPTLAT10': 'INTPTLAT10',
                       'dbscan_properties.INTPTLON10': 'INTPTLON10',
                       'dbscan_properties.PARTFLG10': 'PARTFLG10',
                       'dbscan_geometry.type': 'geometry.type',
                       'dbscan_geometry.coordinates':'geometry.coordinates'},
             inplace=True)

In [102]:
austin_df.dtypes

type                    object
STATEFP10               object
ZCTA5CE10               object
GEOID10                 object
CLASSFP10               object
MTFCC10                 object
FUNCSTAT10              object
ALAND10                  int64
AWATER10                 int64
INTPTLAT10              object
INTPTLON10              object
PARTFLG10               object
geometry.type           object
geometry.coordinates    object
dtype: object

In [103]:
austin_df.to_json('..//geojson_data/austinzipcode_geo.json', orient="records")
austin_df.to_csv("../geojson_data/austinzipcode_geo.csv", index=False)

In [104]:
rent_df = pd.read_csv('../geojson_data/rentals_over_timeGeo.csv')
zest_df = pd.read_csv('../geojson_data/zest_over_timeGeo.csv')

In [105]:
rent_df.dtypes

zip_code        int64
2015-03-31    float64
2015-04-30    float64
2015-05-31    float64
2015-06-30    float64
               ...
2022-09-30    float64
2022-10-31    float64
2022-11-30    float64
2022-12-31    float64
2023-01-31    float64
Length: 96, dtype: object

In [106]:
austin_merge = austin_df.rename(columns= {'ZCTA5CE10' : 'zip_code'})
austin_merge = austin_merge.astype({"zip_code": int})

In [107]:
austin_merge = austin_merge.drop(["type","GEOID10", "CLASSFP10", "MTFCC10", "FUNCSTAT10", "ALAND10", "AWATER10", "STATEFP10", "PARTFLG10", "geometry.type", "geometry.coordinates"], axis=1)

In [108]:
rent_geo = pd.merge(rent_df, austin_merge, on="zip_code", how="left")
zest_geo = pd.merge(zest_df, austin_merge, on="zip_code", how="left")
rent_geo = rent_geo.rename(columns= {'zip_code' : 'ZCTA5CE10',
                           'INTPTLON10': 'longitude',
                           'INTPTLAT10': 'latitude'})
zest_geo = zest_geo.rename(columns= {'zip_code' : 'ZCTA5CE10',
                           'INTPTLON10': 'longitude',
                           'INTPTLAT10': 'latitude'})

In [109]:
#dropping na values in lan and long
rent_geo = rent_geo.dropna(subset=['latitude', 'longitude'])
zest_geo = zest_geo.dropna(subset=['latitude', 'longitude'])

In [110]:
rent_geo.head()

,ZCTA5CE10,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,latitude,longitude
1,78748,1128.231561,1136.914112,1146.573022,1149.119332,1149.187263,1144.169272,1150.585290,1148.356735,1147.706618,...,1720.333617,1732.547092,1748.065508,1745.039943,1738.416841,1711.797659,1688.588541,1665.574074,+30.1671099,-097.8239982
3,78745,1065.842515,1097.610540,1119.407051,1131.108759,1133.466659,1140.234407,1126.299002,1121.670385,1122.668728,...,1739.359795,1763.760482,1778.917686,1766.425047,1750.368963,1728.428728,1714.235380,1703.767779,+30.2068437,-097.7974199
4,78744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1762.219544,1815.632454,1863.247063,1849.211905,1847.874432,1808.525613,1804.422200,1791.120635,+30.1770138,-097.7258883
5,78735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1933.488720,1949.067456,1934.816835,1934.683875,1918.723173,1899.508021,1867.874292,1848.331790,+30.2681381,-097.8691896
6,78704,1488.738257,1480.981293,1488.485541,1491.039788,1510.267406,1520.833861,1516.322412,1497.978375,1497.950902,...,2286.233808,2314.562941,2315.714147,2328.180648,2293.136404,2258.590038,2214.095813,2201.724947,+30.2430316,-097.7650806

In [111]:
rent_geo.to_csv('../geojson_data/rent_geo.csv', index=False)
zest_geo.to_csv('../geojson_data/zest_geo.csv', index=False)

rent_geo.to_json('..//geojson_data/geo_jsonmap/rent_geo.json', orient="records")
zest_geo.to_json('..//geojson_data/geo_jsonmap/zest_geo.json', orient="records")

In [112]:
#summing by year to get average 
rent_geo["2015"] = rent_geo[["2015-03-31", "2015-04-30", "2015-05-31", "2015-06-30", "2015-07-31", "2015-08-31", "2015-09-30", "2015-10-31", "2015-11-30", "2015-12-31"]].mean(axis=1)
rent_geo["2016"] = rent_geo[["2016-01-31", "2016-02-29", "2016-03-31", "2016-04-30", "2016-05-31", "2016-06-30", "2016-07-31", "2016-08-31", "2016-09-30", "2016-10-31", "2016-11-30", "2016-12-31"]].mean(axis=1) 
rent_geo["2017"] = rent_geo[["2017-01-31", "2017-02-28", "2017-03-31", "2017-04-30", "2017-05-31", "2017-06-30", "2017-07-31", "2017-08-31", "2017-09-30", "2017-10-31", "2017-11-30", "2017-12-31"]].mean(axis=1) 
rent_geo["2018"] = rent_geo[["2018-01-31", "2018-02-28", "2018-03-31", "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", "2018-12-31"]].mean(axis=1) 
rent_geo["2019"] = rent_geo[["2019-01-31", "2019-02-28", "2019-03-31", "2019-04-30", "2019-05-31", "2019-06-30", "2019-07-31", "2019-08-31", "2019-09-30", "2019-10-31", "2019-11-30", "2019-12-31"]].mean(axis=1)
rent_geo["2020"] = rent_geo[["2020-01-31", "2020-02-29", "2020-03-31", "2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31", "2020-11-30", "2020-12-31"]].mean(axis=1) 
rent_geo["2021"] = rent_geo[["2021-01-31", "2021-02-28", "2021-03-31", "2021-04-30", "2021-05-31", "2021-06-30", "2021-07-31", "2021-08-31", "2021-09-30", "2021-10-31", "2021-11-30", "2021-12-31"]].mean(axis=1) 
rent_geo["2022"] = rent_geo[["2022-01-31", "2022-02-28", "2022-03-31", "2022-04-30", "2022-05-31", "2022-06-30", "2022-07-31", "2022-08-31", "2022-09-30", "2022-10-31", "2022-11-30", "2022-12-31"]].mean(axis=1) 
rent_geo["2023"] = rent_geo[["2023-01-31"]].mean(axis=1)

In [113]:
rent_geo.drop(["2015-03-31", "2015-04-30", "2015-05-31", "2015-06-30", "2015-07-31", "2015-08-31", "2015-09-30", "2015-10-31", "2015-11-30", "2015-12-31", "2016-01-31", "2016-02-29", "2016-03-31", "2016-04-30", "2016-05-31", "2016-06-30", "2016-07-31", "2016-08-31", "2016-09-30", "2016-10-31", "2016-11-30", "2016-12-31", "2017-01-31", "2017-02-28", "2017-03-31", "2017-04-30", "2017-05-31", "2017-06-30", "2017-07-31", "2017-08-31", "2017-09-30", "2017-10-31", "2017-11-30", "2017-12-31", "2018-01-31", "2018-02-28", "2018-03-31", "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", "2018-12-31", "2019-01-31", "2019-02-28", "2019-03-31", "2019-04-30", "2019-05-31", "2019-06-30", "2019-07-31", "2019-08-31", "2019-09-30", "2019-10-31", "2019-11-30", "2019-12-31", "2020-01-31", "2020-02-29", "2020-03-31", "2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31", "2020-11-30", "2020-12-31", "2021-01-31", "2021-02-28", "2021-03-31", "2021-04-30", "2021-05-31", "2021-06-30", "2021-07-31", "2021-08-31", "2021-09-30", "2021-10-31", "2021-11-30", "2021-12-31", "2022-01-31", "2022-02-28", "2022-03-31", "2022-04-30", "2022-05-31", "2022-06-30", "2022-07-31", "2022-08-31", "2022-09-30", "2022-10-31", "2022-11-30", "2022-12-31", "2023-01-31"], axis=1, inplace=True)

In [114]:
#average zest by year
zest_geo["2000"] = zest_geo[["2000-01-31", "2000-02-29", "2000-03-31", "2000-04-30", "2000-05-31", "2000-06-30", "2000-07-31", "2000-08-31", "2000-09-30", "2000-10-31", "2000-11-30", "2000-12-31"]].mean(axis=1)
zest_geo["2001"] = zest_geo[["2001-01-31", "2001-02-28", "2001-03-31", "2001-04-30", "2001-05-31", "2001-06-30", "2001-07-31", "2001-08-31", "2001-09-30", "2001-10-31", "2001-11-30", "2001-12-31"]].mean(axis=1)
zest_geo["2002"] = zest_geo[["2002-01-31", "2002-02-28", "2002-03-31", "2002-04-30", "2002-05-31", "2002-06-30", "2002-07-31", "2002-08-31", "2002-09-30", "2002-10-31", "2002-11-30", "2002-12-31"]].mean(axis=1)
zest_geo["2003"] = zest_geo[["2003-01-31", "2003-02-28", "2003-03-31", "2003-04-30", "2003-05-31", "2003-06-30", "2003-07-31", "2003-08-31", "2003-09-30", "2003-10-31", "2003-11-30", "2003-12-31"]].mean(axis=1)
zest_geo["2004"] = zest_geo[["2004-01-31", "2004-02-29", "2004-03-31", "2004-04-30", "2004-05-31", "2004-06-30", "2004-07-31", "2004-08-31", "2004-09-30", "2004-10-31", "2004-11-30", "2004-12-31"]].mean(axis=1)
zest_geo["2005"] = zest_geo[["2005-01-31", "2005-02-28", "2005-03-31", "2005-04-30", "2005-05-31", "2005-06-30", "2005-07-31", "2005-08-31", "2005-09-30", "2005-10-31", "2005-11-30", "2005-12-31"]].mean(axis=1)
zest_geo["2006"] = zest_geo[["2006-01-31", "2006-02-28", "2006-03-31", "2006-04-30", "2006-05-31", "2006-06-30", "2006-07-31", "2006-08-31", "2006-09-30", "2006-10-31", "2006-11-30", "2006-12-31"]].mean(axis=1)
zest_geo["2007"] = zest_geo[["2007-01-31", "2007-02-28", "2007-03-31", "2007-04-30", "2007-05-31", "2007-06-30", "2007-07-31", "2007-08-31", "2007-09-30", "2007-10-31", "2007-11-30", "2007-12-31"]].mean(axis=1)
zest_geo["2008"] = zest_geo[["2008-01-31", "2008-02-29", "2008-03-31", "2008-04-30", "2008-05-31", "2008-06-30", "2008-07-31", "2008-08-31", "2008-09-30", "2008-10-31", "2008-11-30", "2008-12-31"]].mean(axis=1)
zest_geo["2009"] = zest_geo[["2009-01-31", "2009-02-28", "2009-03-31", "2009-04-30", "2009-05-31", "2009-06-30", "2009-07-31", "2009-08-31", "2009-09-30", "2009-10-31", "2009-11-30", "2009-12-31"]].mean(axis=1)
zest_geo["2010"] = zest_geo[["2010-01-31", "2010-02-28", "2010-03-31", "2010-04-30", "2010-05-31", "2010-06-30", "2010-07-31", "2010-08-31", "2010-09-30", "2010-10-31", "2010-11-30", "2010-12-31"]].mean(axis=1)
zest_geo["2011"] = zest_geo[["2011-01-31", "2011-02-28", "2011-03-31", "2011-04-30", "2011-05-31", "2011-06-30", "2011-07-31", "2011-08-31", "2011-09-30", "2011-10-31", "2011-11-30", "2011-12-31"]].mean(axis=1)
zest_geo["2012"] = zest_geo[["2012-01-31", "2012-02-29", "2012-03-31", "2012-04-30", "2012-05-31", "2012-06-30", "2012-07-31", "2012-08-31", "2012-09-30", "2012-10-31", "2012-11-30", "2012-12-31"]].mean(axis=1)
zest_geo["2013"] = zest_geo[["2013-01-31", "2013-02-28", "2013-03-31", "2013-04-30", "2013-05-31", "2013-06-30", "2013-07-31", "2013-08-31", "2013-09-30", "2013-10-31", "2013-11-30", "2013-12-31"]].mean(axis=1)
zest_geo["2014"] = zest_geo[["2014-01-31", "2014-02-28", "2014-03-31", "2014-04-30", "2014-05-31", "2014-06-30", "2014-07-31", "2014-08-31", "2014-09-30", "2014-10-31", "2014-11-30", "2014-12-31"]].mean(axis=1)
zest_geo["2015"] = zest_geo[["2015-01-31", "2015-02-28", "2015-03-31", "2015-04-30", "2015-05-31", "2015-06-30", "2015-07-31", "2015-08-31", "2015-09-30", "2015-10-31", "2015-11-30", "2015-12-31"]].mean(axis=1)
zest_geo["2016"] = zest_geo[["2016-01-31", "2016-02-29", "2016-03-31", "2016-04-30", "2016-05-31", "2016-06-30", "2016-07-31", "2016-08-31", "2016-09-30", "2016-10-31", "2016-11-30", "2016-12-31"]].mean(axis=1)
zest_geo["2017"] = zest_geo[["2017-01-31", "2017-02-28", "2017-03-31", "2017-04-30", "2017-05-31", "2017-06-30", "2017-07-31", "2017-08-31", "2017-09-30", "2017-10-31", "2017-11-30", "2017-12-31"]].mean(axis=1)
zest_geo["2018"] = zest_geo[["2018-01-31", "2018-02-28", "2018-03-31", "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", "2018-12-31"]].mean(axis=1)
zest_geo["2019"] = zest_geo[["2019-01-31", "2019-02-28", "2019-03-31", "2019-04-30", "2019-05-31", "2019-06-30", "2019-07-31", "2019-08-31", "2019-09-30", "2019-10-31", "2019-11-30", "2019-12-31"]].mean(axis=1)
zest_geo["2030"] = zest_geo[["2020-01-31", "2020-02-29", "2020-03-31", "2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31", "2020-11-30", "2020-12-31"]].mean(axis=1)
zest_geo["2021"] = zest_geo[["2021-01-31", "2021-02-28", "2021-03-31", "2021-04-30", "2021-05-31", "2021-06-30", "2021-07-31", "2021-08-31", "2021-09-30", "2021-10-31", "2021-11-30", "2021-12-31"]].mean(axis=1)
zest_geo["2022"] = zest_geo[["2022-01-31", "2022-02-28", "2022-03-31", "2022-04-30", "2022-05-31", "2022-06-30", "2022-07-31", "2022-08-31", "2022-09-30", "2022-10-31", "2022-11-30", "2022-12-31"]].mean(axis=1)
zest_geo["2023"] = zest_geo[["2023-01-31"]].mean(axis=1)

In [115]:
zest_geo.drop(["2000-01-31", "2000-02-29", "2000-03-31", "2000-04-30", "2000-05-31", "2000-06-30", "2000-07-31", "2000-08-31", "2000-09-30", "2000-10-31", "2000-11-30", "2000-12-31", "2001-01-31", "2001-02-28", "2001-03-31", "2001-04-30", "2001-05-31", "2001-06-30", "2001-07-31", "2001-08-31", "2001-09-30", "2001-10-31", "2001-11-30", "2001-12-31", "2002-01-31", "2002-02-28", "2002-03-31", "2002-04-30", "2002-05-31", "2002-06-30", "2002-07-31", "2002-08-31", "2002-09-30", "2002-10-31", "2002-11-30", "2002-12-31", "2003-01-31", "2003-02-28", "2003-03-31", "2003-04-30", "2003-05-31", "2003-06-30", "2003-07-31", "2003-08-31", "2003-09-30", "2003-10-31", "2003-11-30", "2003-12-31", "2004-01-31", "2004-02-29", "2004-03-31", "2004-04-30", "2004-05-31", "2004-06-30", "2004-07-31", "2004-08-31", "2004-09-30", "2004-10-31", "2004-11-30", "2004-12-31", "2005-01-31", "2005-02-28", "2005-03-31", "2005-04-30", "2005-05-31", "2005-06-30", "2005-07-31", "2005-08-31", "2005-09-30", "2005-10-31", "2005-11-30", "2005-12-31", "2006-01-31", "2006-02-28", "2006-03-31", "2006-04-30", "2006-05-31", "2006-06-30", "2006-07-31", "2006-08-31", "2006-09-30", "2006-10-31", "2006-11-30", "2006-12-31", "2007-01-31", "2007-02-28", "2007-03-31", "2007-04-30", "2007-05-31", "2007-06-30", "2007-07-31", "2007-08-31", "2007-09-30", "2007-10-31", "2007-11-30", "2007-12-31", "2008-01-31", "2008-02-29", "2008-03-31", "2008-04-30", "2008-05-31", "2008-06-30", "2008-07-31", "2008-08-31", "2008-09-30", "2008-10-31", "2008-11-30", "2008-12-31", "2009-01-31", "2009-02-28", "2009-03-31", "2009-04-30", "2009-05-31", "2009-06-30", "2009-07-31", "2009-08-31", "2009-09-30", "2009-10-31", "2009-11-30", "2009-12-31", "2010-01-31", "2010-02-28", "2010-03-31", "2010-04-30", "2010-05-31", "2010-06-30", "2010-07-31", "2010-08-31", "2010-09-30", "2010-10-31", "2010-11-30", "2010-12-31", "2011-01-31", "2011-02-28", "2011-03-31", "2011-04-30", "2011-05-31", "2011-06-30", "2011-07-31", "2011-08-31", "2011-09-30", "2011-10-31", "2011-11-30", "2011-12-31", "2012-01-31", "2012-02-29", "2012-03-31", "2012-04-30", "2012-05-31", "2012-06-30", "2012-07-31", "2012-08-31", "2012-09-30", "2012-10-31", "2012-11-30", "2012-12-31", "2013-01-31", "2013-02-28", "2013-03-31", "2013-04-30", "2013-05-31", "2013-06-30", "2013-07-31", "2013-08-31", "2013-09-30", "2013-10-31", "2013-11-30", "2013-12-31", "2014-01-31", "2014-02-28", "2014-03-31", "2014-04-30", "2014-05-31", "2014-06-30", "2014-07-31", "2014-08-31", "2014-09-30", "2014-10-31", "2014-11-30", "2014-12-31", "2015-01-31", "2015-02-28", "2015-03-31", "2015-04-30", "2015-05-31", "2015-06-30", "2015-07-31", "2015-08-31", "2015-09-30", "2015-10-31", "2015-11-30", "2015-12-31", "2016-01-31", "2016-02-29", "2016-03-31", "2016-04-30", "2016-05-31", "2016-06-30", "2016-07-31", "2016-08-31", "2016-09-30", "2016-10-31", "2016-11-30", "2016-12-31", "2017-01-31", "2017-02-28", "2017-03-31", "2017-04-30", "2017-05-31", "2017-06-30", "2017-07-31", "2017-08-31", "2017-09-30", "2017-10-31", "2017-11-30", "2017-12-31", "2018-01-31", "2018-02-28", "2018-03-31", "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", "2018-12-31", "2019-01-31", "2019-02-28", "2019-03-31", "2019-04-30", "2019-05-31", "2019-06-30", "2019-07-31", "2019-08-31", "2019-09-30", "2019-10-31", "2019-11-30", "2019-12-31", "2020-01-31", "2020-02-29", "2020-03-31", "2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31", "2020-11-30", "2020-12-31", "2021-01-31", "2021-02-28", "2021-03-31", "2021-04-30", "2021-05-31", "2021-06-30", "2021-07-31", "2021-08-31", "2021-09-30", "2021-10-31", "2021-11-30", "2021-12-31", "2022-01-31", "2022-02-28", "2022-03-31", "2022-04-30", "2022-05-31", "2022-06-30", "2022-07-31", "2022-08-31", "2022-09-30", "2022-10-31", "2022-11-30", "2022-12-31", "2023-01-31"], axis=1, inplace=True)

In [116]:
zest_geo.head()

,ZCTA5CE10,latitude,longitude,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2030,2021,2022,2023
1,78748,+30.1671099,-097.8239982,186372.463895,191706.044082,194432.077575,194770.000736,198516.129133,203125.929883,204527.424580,...,251143.836814,279279.184718,300210.258716,312236.727626,322868.866607,333068.602510,359493.491598,430726.709080,4.806777e+05,4.657520e+05
3,78745,+30.2068437,-097.7974199,157501.065260,162305.987937,162604.006513,162546.925352,165642.509452,169518.288838,174180.942402,...,227843.170444,260814.950180,285170.399674,298376.110382,312471.169483,329442.974677,360482.863479,435701.515654,5.022118e+05,4.910673e+05
4,78744,+30.1770138,-097.7258883,103064.980892,109330.040237,113379.890323,113188.069365,113125.709830,115660.582649,118435.809764,...,141564.128208,166900.647921,191755.168018,207668.999155,221288.905559,234696.815884,258163.649946,330620.922380,3.929719e+05,3.783932e+05
5,78735,+30.2681381,-097.8691896,368271.209924,373173.977661,374507.407824,363452.958347,373150.075364,376831.703094,384440.497037,...,479621.644900,513728.292391,540571.614882,554727.363039,574555.286549,593929.826814,647365.184239,799079.623977,9.178864e+05,8.896507e+05
6,78704,+30.2430316,-097.7650806,252795.052276,277259.440215,272200.978542,264369.325846,273515.485407,297756.226925,321243.116604,...,468308.307812,527925.429208,557478.566446,575449.845790,602490.406092,633420.893920,700262.743174,874165.567428,1.097855e+06,1.092982e+06

In [117]:
rent_geo.to_json('..//geojson_data/geo_jsonmap/rent_geomean.json', orient="records")
zest_geo.to_json('..//geojson_data/geo_jsonmap/zest_geomean.json', orient="records")