In [2]:
import pandas as pd
import json

In [3]:
#reading json
geojson_df = pd.read_json('../geojson_data/tx_texas_zip_codes_geo.min.json')

In [4]:
geojson_df.head(3)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...
1  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...
2  FeatureCollection  {'type': 'Feature', 'properties': {'STATEFP10'...

In [5]:
# load data using Python JSON module
with open('../geojson_data/tx_texas_zip_codes_geo.min.json','r') as f:
    data = json.loads(f.read())

In [6]:
# Normalizing data
geo_df = pd.json_normalize(data, record_path = 
                           ['features'], meta =
                           ['original_number_of_clusters','Scaler','family_min_samples_percentage'], meta_prefix='config_params_', record_prefix='dbscan_', errors = 'ignore')

In [7]:
geo_df.head(3)

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
0,Feature,48,75801,4875801,B5,G6350,S,555807428,6484251,+31.7345202,-095.5313809,N,Polygon,"[[[-95.680719, 31.727999], [-95.680855, 31.728...",NaN,NaN,NaN
1,Feature,48,75839,4875839,B5,G6350,S,381863557,3928555,+31.6066930,-095.5833403,N,Polygon,"[[[-95.662692, 31.645856], [-95.662425, 31.645...",NaN,NaN,NaN
2,Feature,48,78336,4878336,B5,G6350,S,126923194,31624523,+27.9269126,-097.1777757,N,Polygon,"[[[-97.196422, 27.911945], [-97.19618, 27.9122...",NaN,NaN,NaN

In [8]:
#Getting specific data points for the Austin area
geo_with_index = geo_df.set_index("dbscan_properties.ZCTA5CE10")
geo_with_index.head(3)

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
dbscan_properties.ZCTA5CE10,,,,,,,,,,,,,,,,
75801,Feature,48,4875801,B5,G6350,S,555807428,6484251,+31.7345202,-095.5313809,N,Polygon,"[[[-95.680719, 31.727999], [-95.680855, 31.728...",NaN,NaN,NaN
75839,Feature,48,4875839,B5,G6350,S,381863557,3928555,+31.6066930,-095.5833403,N,Polygon,"[[[-95.662692, 31.645856], [-95.662425, 31.645...",NaN,NaN,NaN
78336,Feature,48,4878336,B5,G6350,S,126923194,31624523,+27.9269126,-097.1777757,N,Polygon,"[[[-97.196422, 27.911945], [-97.19618, 27.9122...",NaN,NaN,NaN

In [9]:
zipcodes = ['78744',
            '78735',
            '78741',
            '78733',
            '78746',
            '78701',
            '78702',
            '78721',
            '78722',
            '78723',
            '78754',
            '78731',
            '78732',
            '78726',
            '78750',
            '78757',
            '78752',
            '78724',
            '78753',
            '78758',
            '78727',
            '78759',
            '78745',
            '78729',
            '78748',
            '78717',
            '78751',
            '78705',
            '78704',
            '78703']
austingeo_df = geo_df[geo_df['dbscan_properties.ZCTA5CE10'].isin(zipcodes)]

In [10]:
austingeo_df.head()

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates,config_params_original_number_of_clusters,config_params_Scaler,config_params_family_min_samples_percentage
479,Feature,48,78759,4878759,B5,G6350,S,36045451,0,+30.4026543,-097.7610645,N,Polygon,"[[[-97.71599, 30.40858], [-97.715924, 30.40827...",NaN,NaN,NaN
480,Feature,48,78703,4878703,B5,G6350,S,14451214,722351,+30.2932682,-097.7660504,N,Polygon,"[[[-97.756611, 30.265703], [-97.756686, 30.265...",NaN,NaN,NaN
481,Feature,48,78735,4878735,B5,G6350,S,53222108,502,+30.2681381,-097.8691896,N,Polygon,"[[[-97.803516, 30.232121], [-97.803583, 30.231...",NaN,NaN,NaN
483,Feature,48,78721,4878721,B5,G6350,S,9616066,46866,+30.2699693,-097.6835568,N,Polygon,"[[[-97.694363, 30.267432], [-97.696086, 30.268...",NaN,NaN,NaN
731,Feature,48,78744,4878744,B5,G6350,S,55420088,12136,+30.1770138,-097.7258883,N,Polygon,"[[[-97.764208, 30.198526], [-97.763396, 30.199...",NaN,NaN,NaN

In [11]:
austin_df = austingeo_df.drop(["config_params_original_number_of_clusters", "config_params_Scaler", 'config_params_family_min_samples_percentage'], axis =1)

In [12]:
austin_df.head()

,dbscan_type,dbscan_properties.STATEFP10,dbscan_properties.ZCTA5CE10,dbscan_properties.GEOID10,dbscan_properties.CLASSFP10,dbscan_properties.MTFCC10,dbscan_properties.FUNCSTAT10,dbscan_properties.ALAND10,dbscan_properties.AWATER10,dbscan_properties.INTPTLAT10,dbscan_properties.INTPTLON10,dbscan_properties.PARTFLG10,dbscan_geometry.type,dbscan_geometry.coordinates
479,Feature,48,78759,4878759,B5,G6350,S,36045451,0,+30.4026543,-097.7610645,N,Polygon,"[[[-97.71599, 30.40858], [-97.715924, 30.40827..."
480,Feature,48,78703,4878703,B5,G6350,S,14451214,722351,+30.2932682,-097.7660504,N,Polygon,"[[[-97.756611, 30.265703], [-97.756686, 30.265..."
481,Feature,48,78735,4878735,B5,G6350,S,53222108,502,+30.2681381,-097.8691896,N,Polygon,"[[[-97.803516, 30.232121], [-97.803583, 30.231..."
483,Feature,48,78721,4878721,B5,G6350,S,9616066,46866,+30.2699693,-097.6835568,N,Polygon,"[[[-97.694363, 30.267432], [-97.696086, 30.268..."
731,Feature,48,78744,4878744,B5,G6350,S,55420088,12136,+30.1770138,-097.7258883,N,Polygon,"[[[-97.764208, 30.198526], [-97.763396, 30.199..."

In [13]:
# Renaming Columns for geojson
austin_df.rename(columns= {'dbscan_type':'type',
                        'dbscan_properties.STATEFP10' : 'STATEFP10',
                       'dbscan_properties.ZCTA5CE10' : 'ZCTA5CE10',
                       'dbscan_properties.GEOID10' : 'GEOID10',
                       'dbscan_properties.CLASSFP10' : 'CLASSFP10',
                       'dbscan_properties.MTFCC10' : 'MTFCC10',
                       'dbscan_properties.FUNCSTAT10' : 'FUNCSTAT10',
                       'dbscan_properties.ALAND10' : 'ALAND10',
                       'dbscan_properties.AWATER10': 'AWATER10',
                       'dbscan_properties.INTPTLAT10': 'INTPTLAT10',
                       'dbscan_properties.INTPTLON10': 'INTPTLON10',
                       'dbscan_properties.PARTFLG10': 'PARTFLG10',
                       'dbscan_geometry.type': 'geometry.type',
                       'dbscan_geometry.coordinates':'geometry.coordinates'},
             inplace=True)

In [14]:
austin_df.dtypes

type                    object
STATEFP10               object
ZCTA5CE10               object
GEOID10                 object
CLASSFP10               object
MTFCC10                 object
FUNCSTAT10              object
ALAND10                  int64
AWATER10                 int64
INTPTLAT10              object
INTPTLON10              object
PARTFLG10               object
geometry.type           object
geometry.coordinates    object
dtype: object

In [15]:
austin_df.to_json('..//geojson_data/austinzipcode_geo.json', orient="records")
austin_df.to_csv("../geojson_data/austinzipcode_geo.csv", index=False)

In [16]:
rent_df = pd.read_csv('../geojson_data/rentals_over_timeGeo.csv')
zest_df = pd.read_csv('../geojson_data/zest_over_timeGeo.csv')

In [17]:
rent_df.dtypes

zip_code        int64
2015-03-31    float64
2015-04-30    float64
2015-05-31    float64
2015-06-30    float64
               ...
2022-09-30    float64
2022-10-31    float64
2022-11-30    float64
2022-12-31    float64
2023-01-31    float64
Length: 96, dtype: object

In [18]:
austin_merge = austin_df.rename(columns= {'ZCTA5CE10' : 'zip_code'})
austin_merge = austin_merge.astype({"zip_code": int})

In [19]:
austin_merge = austin_merge.drop(["type","GEOID10", "CLASSFP10", "MTFCC10", "FUNCSTAT10", "ALAND10", "AWATER10", "STATEFP10", "PARTFLG10", "geometry.type", "geometry.coordinates"], axis=1)

In [20]:
rent_geo = pd.merge(rent_df, austin_merge, on="zip_code", how="left")
zest_geo = pd.merge(zest_df, austin_merge, on="zip_code", how="left")
rent_geo = rent_geo.rename(columns= {'zip_code' : 'ZCTA5CE10',
                           'INTPTLON10': 'longitude',
                           'INTPTLAT10': 'latitude'})
zest_geo = zest_geo.rename(columns= {'zip_code' : 'ZCTA5CE10',
                           'INTPTLON10': 'longitude',
                           'INTPTLAT10': 'latitude'})

In [21]:
#dropping na values in lan and long
rent_geo = rent_geo.dropna(subset=['latitude', 'longitude'])
zest_geo = zest_geo.dropna(subset=['latitude', 'longitude'])

In [22]:
rent_geo.head()

,ZCTA5CE10,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,latitude,longitude
1,78748,1128.231561,1136.914112,1146.573022,1149.119332,1149.187263,1144.169272,1150.585290,1148.356735,1147.706618,...,1720.333617,1732.547092,1748.065508,1745.039943,1738.416841,1711.797659,1688.588541,1665.574074,+30.1671099,-097.8239982
3,78745,1065.842515,1097.610540,1119.407051,1131.108759,1133.466659,1140.234407,1126.299002,1121.670385,1122.668728,...,1739.359795,1763.760482,1778.917686,1766.425047,1750.368963,1728.428728,1714.235380,1703.767779,+30.2068437,-097.7974199
4,78744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1762.219544,1815.632454,1863.247063,1849.211905,1847.874432,1808.525613,1804.422200,1791.120635,+30.1770138,-097.7258883
5,78735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1933.488720,1949.067456,1934.816835,1934.683875,1918.723173,1899.508021,1867.874292,1848.331790,+30.2681381,-097.8691896
6,78704,1488.738257,1480.981293,1488.485541,1491.039788,1510.267406,1520.833861,1516.322412,1497.978375,1497.950902,...,2286.233808,2314.562941,2315.714147,2328.180648,2293.136404,2258.590038,2214.095813,2201.724947,+30.2430316,-097.7650806

In [24]:
rent_geo.to_csv('../geojson_data/rent_geo.csv', index=False)
zest_geo.to_csv('../geojson_data/zest_geo.csv', index=False)

rent_geo.to_json('..//geojson_data/geo_jsonmap/rent_geo.json', orient="records")
zest_geo.to_json('..//geojson_data/geo_jsonmap/zest_geo.json', orient="records")